<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDxryT6hQJyc-tbl1ld1rpCi1nGw0GFWJE</string>
	<key>GCM_SENDER_ID</key>
	<string>299868309745</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>be.hepl.firebaseAuthentication</string>
	<key>PROJECT_ID</key>
	<string>fir-3e651</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-3e651.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:299868309745:ios:aa9f65f19fb30575054150</string>
</dict>
</plist>